.DS_Store
.cache
dist
node_modules
*.sw*
.env

.eslintcache
notion.txt
Team_1_ Project_1.pdf
Team_1_Project_1.odt
assets/img/d3Logo_unused.png
package-lock.json
.vscode/settings.json
assets/css/style.css