/* body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
} */

/* header {
} */

/* BEGIN NAVIGATION */
/* .navbar: .nav-brand, [toggle/#menu[.nav-link]] */
/* .nav_container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: #fff;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  background: rgb(18, 37, 55);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: 100%;
  font-size: 18px;
  position: fixed;
  z-index: 100;
  left: 0;
}

.nav-brand {
  display: inline;
  font-weight: bold;
  color: lightgrey;
}

.nav-toggle {
  display: none;
}

.nav-main,
li {
  display: inline;
  list-style-type: none;
}

.nav-link {
  padding-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: lightgrey;
  display: inline-block;
  text-decoration: underline;
}

.nav-link:link visited {
  color: lightgrey;
}

.nav-link:hover {
  color: rgb(189, 22, 167);
}

@media screen and (max-width: 479px) {
  .navbar {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-toggle {
    position: absolute;
    z-index: 1030;
    top: 10px;
    right: 28px;
    cursor: pointer;
    color: lightgrey;
    font-size: 22px;
    display: inline-block;
  }
  .nav-main {
    margin-top: 5px;
    margin-block-end: 5px;
    list-style-type: none;
    display: none;
    background: rgb(18, 37, 55);
  }
  .nav-link {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 16px;
    color: lightgrey;
  }
  .open {
    display: block;
  }
} */
/* END NAVIGATION */

/* main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 500px;
  background: orange;
}

h1 {
  text-align: center;
}

.searchContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50%;
  background: lightblue;
  border: 1px solid black;
}

.listContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 50%;
  background: lightgreen;
  border: 1px solid black;
} */

#map {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

#locationData {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

#weather {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
